@import 'components/overlay';

body {
  font-family: 'Poppins', sans-serif;
}

.w-full {
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-title {
  font-size: 1rem;
  color: gray;
  margin-bottom: 2px !important;
}

.shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.text-center {
  text-align: center;
}

main {
  background-color: #e6e9f1;
}
